* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #fefefe;
  color: #898989;
    font-family: 'Cantarell', sans-serif;
}
section {
    min-height: 100vh;
    border-bottom: solid 1px #898989;
}

header {
  height: 100vh;
  background: linear-gradient(transparent 65%,#fefefe), url('./public/images/goran-ivos-246271.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
nav {
  position: fixed;
  width: 100%;
  background: rgba(254,254,254,0.9);
    border-bottom: solid 1px #898989;
}
nav ul {
    list-style: none;
    text-align: center

}
nav li {
    padding: 1% 5%;
}
nav a  {
    text-decoration: none;
    font-size: 1.5em;
    font-family: 'Fjalla One', sans-serif;
    color: #898989;
    transition: all 0.3s ease-in-out;
}
nav a:hover {
    text-shadow: 0 0 2px rgba(0,0,0,0.5);
    color: transparent;
    border: #000;
}
#intro .header-name {
  font-family: 'Fjalla One', sans-serif;
  text-align: center;
  padding-top: 50vh;
}
.header-name {
  color: #fefefe;
}
.header-name h1{
  font-size: 3em;
  text-shadow: 0 1px 2px  rgba(0,0,0,0.5);
}
.header-name h2 {
  font-style: italic;
}



/*About Styles*/
#about {
  text-align: center;
}
#about p {
    max-width: 85%;
    padding: 1% 3%;
}

/*Work Styles*/
#work{

}
#work .work-item {
  width: 100%;
  height: 25%;
  color: #efe;
  transition: box-shadow 0.7s ease-in-out;
  position: relative;
}
#work .work-item:hover {
  box-shadow: 0 5px 5px rgba(0,0,0,0.5), 0 -5px 5px rgba(0,0,0,0.5);
  z-index: 2;
}
#work .work-item h3 {
  font-family: 'Fjalla One', sans-serif;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  padding: 1% 2%;
  font-size: 1.5em;

}
#work .work-item h4 {
  font-style: italic;
  font-size: .8em;
  padding: 1% 2%;
}
#work .work-item p {
  font-family: 'Cantarell', sans-serif;
  font-size: 1em;
  padding: 1% 2%;
}
#work .stream-search {
  background: #CA3568;
  background: -webkit-linear-gradient(to right, #CA3568, #DE0007); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #CA3568, #DE0007);
}
#work .materialize {
  background: #009688;
  background: -webkit-linear-gradient(to right, #009688, #E9C228); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #009688, #E9C228);

}
#work .johnny-four {
  background-color: #ffc107;
}
#work .spot-ninja {
  background-color: #FF001C;
}

/*slow scroll animation*/
.in-transition{
    transition: transform 900ms ease;
}

/*Media Queries*/
@media only screen and (min-width:768px) {
  nav ul {
      display: flex;
      flex-direction: row;
      justify-content: center;
  }
  #intro {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    grid-template-areas:
        "blank image image"
        "name image image"
        "name image image";
  }
  #intro .header-name {
    grid-area: name;
  }
  #intro img {
    grid-area: image;
    margin-top: 40%
  }

}

@media only screen and (min-width: 1000px) {
  #intro .header-name {
    font-size: 1.5em;
  }



}
